<section class="landing-hero d-flex align-items-center justify-content-center text-center text-white">
	<div class="overlay"></div>
	<div class="container hero-content">
		<h1 class="display-3 fw-bold">Avistamiento de Aves</h1>
		<p class="lead mb-4">Comparte y consulta avistamientos cerca de ti.</p>

		<div class="d-flex gap-3 justify-content-center flex-wrap">
			<a class="btn btn-primary btn-lg" role="button" routerLink="/reportar">Reportar avistamiento</a>
			<a class="btn btn-outline-light btn-lg" role="button" routerLink="/consultar">Consultar Avistamientos</a>
		</div>
	</div>
</section>
